<div class="row">
  <div class="col-12 mt-2">
    <h2>User List</h2>
    <div class="row">
      <div class="col-12">
        <button [routerLink]="['user/0']" class="btn btn-block btn-success">
          <i class="fa fa-user"></i> New user record
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-6 my-2">
        <input class="form-control"
        [(ngModel)]="filterText"
        type="text" name="" id=""
        placeholder="to filter type in filter criteria">
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr class="tableHead">
          <th id="id" (click)="onHeadClick('id')">#</th>
          <th id="name" (click)="onHeadClick('name')">Name</th>
          <th id="email" (click)="onHeadClick('email')">Email</th>
          <th id="address" (click)="onHeadClick('address')">Address</th>
          <th id="active" (click)="onHeadClick('active')">Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filter:filterText:filterKey | sorter:sorterKey">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="onDeleteClick(user)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
