<div class="row">
  <div *ngIf="user$ | async as user" class="col-6 offset-3 mt-3">
    <h2>Update / Create User</h2>
    <form #userForm="ngForm">
      <input name="id" type="hidden" [(ngModel)]="user.id">
      <div class="form-group">
        <label>Name</label>
        <!-- Validation: min 8 char, max 40 char, required -->
        <input
        class="form-control"
        type="text"
        name="name"
        [(ngModel)]="user.name"
        required
        pattern=".{8,40}">
        <div [hidden]="userForm.controls.name?.valid || userForm.controls.name?.pristine" class="error__message">
          Required field! Must be 8 to 40 chars of length.
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <!-- Validation: valid email, required.
          Help: https://stackoverflow.com/questions/46155/how-to-validate-an-email-address-in-javascript -->
          <input
          class="form-control"
          type="text"
          name="email"
          [(ngModel)]="user.email"
          required
          [pattern]="emailPattern">
          <div [hidden]="userForm.controls.email?.valid || userForm.controls.email?.pristine" class="error__message">
            Required field! Must follow valid e-mail layout.
          </div>
        </div>
        <div class="form-group">
          <label>Address</label>
          <!-- Validation: min 8 char, max 100 chars, required -->
          <input
          class="form-control"
          type="text"
          name="address"
          [(ngModel)]="user.address"
          required
          pattern=".{8,100}">
          <div [hidden]="userForm.controls.address?.valid || userForm.controls.address?.pristine" class="error__message">
            Required field! Must be 8 to 100 chars of length.
          </div>
      </div>
      <div class="form-group">
        <label>Active</label>
        <!-- No validation. -->
        <select [(ngModel)]="user.active" name="active" class="form-control">
          <option [ngValue]="true">active</option>
          <option [ngValue]="false">inactive</option>
        </select>
      </div>
      <button (click)="setToDB(user)" type="submit" class="btn btn-primary btn-block mt-5"
        [disabled]="userForm.invalid">
        <i class="fa fa-save"></i>
      </button>
    </form>
  </div>
</div>
